.homepage-body-banner-container-banner {
  width: 390px;
  height: 90px;
}

.homepage-body-content-container {
  width: 100%;
  height: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-body-content-container-text {
  height: 116px;
  width: 351px;
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
}

.homepage-body-content-container-text-title {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #0073ce;
}

.homepage-body-content-container-text-paragraph {
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  padding-top: 15px;
}

.homepage-body-content-container-text-contact {
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  padding-top: 15px;
}

.homepage-body-page-links-container {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-body-page-links-container-top {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  justify-content: space-evenly;
}

.homepage-body-page-links-container-top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homepage-body-page-links-container-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homepage-body-page-links-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
}

.homepage-body-page-links-container-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homepage-body-page-links-container-bottom-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homepage-body-page-links-image {
  height: 160px;
  width: 160px;
}

.homepage-body-page-links-text-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
